
{% import 'macros/form.html' as form %}

{{ form.input('ags_url', id='field-ags_url', label=_('ags url'), placeholder=_('eg. http://.../MapServer'), value=data.ags_url, error=errors.ags_url, classes=['control-full', 'control-large']) }}
{{ form.input('layer_ids', id='field-layer_ids', label=_('layer ids'), placeholder=_('Leave blank to return all layers'), value=data.layer_ids, error=errors.layer_ids, classes=['control-full', 'control-large']) }}
{{ form.input('basemap_url', id='field-basemap_url', label=_('basemap url'), placeholder=_('eg. http://.../tile/{z}/{x}/{y}'), value=data.basemap_url, error=errors.basemap_url, classes=['control-full', 'control-large']) }}
